:root {
	--black: #000;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	min-width: 100vw;
	min-height: 100vh;
}

.dark-theme {
	transition: all 100ms ease-in;
	background-color: var(--black);
	color: var(--white);
}

.white-theme {
	transition: all 100ms ease-in;
	background-color: var(--white);
	color: var(--black);
}
